In [ ]:
continuation with lists:

In [ ]:
for loop implimentation:

In [ ]:
for temp in mainvar:
    print(tempvar)

In [ ]:
# understanding the range function usage... !

In [ ]:
# genral syntax of range funtion :

 range(startvalue,stopvalue, stepcount)

In [ ]:
# print numbers till 1to 20 by using range  along with for  loop

In [ ]:
# last value is always exclusive.

In [1]:
for x in range(1,20):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# i want to print a list of numbers from 1 to 30.

In [2]:
numbers = list(range(1,30))

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [3]:
type(numbers)

list

In [ ]:
# i want to print only even numbers from 0 to 20..

In [8]:
even_numbers = list(range(2,20,2))   # 2+2=4+2=6+2
 
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#i want to have only odd numbers till 30

In [11]:
odd_numbers = list(range(1,20,3))

print(odd_numbers)

[1, 4, 7, 10, 13, 16, 19]

In [ ]:
Introduction to conditional statements in python :

In [ ]:
if else conditions :
    
    true and false cases we will be working up on ....

In [12]:
cars = ['audi','bmw','toyota','benz','maruthi']

In [ ]:
# req : print the list of cars by using a for loop but i want to print maruthi in capitals and remaining all others 
#in title

In [17]:
for x in cars:
    if x == 'maruthi':  # condition we are giving
        print(x.upper())
    else:  # else for all others...
            print(x.title())

Audi
Bmw
Toyota
Benz
MARUTHI

In [ ]:
if else:

In [ ]:
Entry ticket for a park:
    
    for children 0 to 4 years its free
    for children 4 to 10 years is 10 rupees
    for remaining all others above 10 years is 15 rupees

In [ ]:
if 

elif

elif

else

In [18]:
childrenage = 1  # va

In [20]:
if childrenage <= 4:
    print("No entry fee")
elif childrenage <=10:
    print("10 is the entry fee")u

No entry fee